@font-face {
  font-family: "vazir";
  font-weight: 400;
  src: url("../assets/fonts/Vazir.woff");
}

@font-face {
  font-family: "vazir";
  font-weight: 700;
  src: url("../assets/fonts/Vazir-Bold.woff");
}

body,
button {
  font-family: "vazir";
}
