/* ! Reset */
/* ! Reset */
/* ! Reset */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* list-style: none; */
}

/* ! root variable */
/* ! root variable */
/* ! root variable */

:root {
  /* color */
  --color-primary: #ff5722;
  --color-background-nav: #f8f8f8;
  --color-background: #ffffff;
  --color-secondry-light: #ffa589;
  --color-secondry-dark: ##fff6f2;
  --color-text-head: #000000;
  --color-text-body: ##333333;
  --color-white: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-body);
  font-size: 1.4rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  body {
    color: var(--color-text-body);
    /* font-size: 1.8rem; */
    font-size: 1.6rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.5rem;
    /* font-size: 3rem; */
  }

  h3 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.6rem;
  }
}

/* ! container */
/* ! container */
/* ! container */

.cantainer {
  max-width: 1200px;
  margin: 0 auto;
}

/* .container-block {
  margin: 0 15%;
} */

@media screen and (max-width: 576px) {
  .container {
    padding: 0 10% !important;
  }
}

/* ! button */
/* ! button */
/* ! button */

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 8px;
  margin: 1rem 0;
  white-space: nowrap;
  text-align: center;
}

.btn--block {
  width: 100%;
  display: block;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--secondry {
  background-color: var(--color-secondry-light);
  color: var(--color-white);
}

@media screen and (min-width: 1024px) {
  .btn.btn--primary {
    font-size: 1.6rem;
  }

  .btn.btn--secondry {
    font-size: 2rem;
  }
}

/* ! badge */
/* ! badge */
/* ! badge */

.badge {
  border: 2px solid #fe4e00;
  display: inline-block;
  border-radius: 32px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.badge--primary {
  font-size: 1.4rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.badge--secondry {
  font-size: 1.2rem;
  background-color: var(--color-white);
  color: var(--color-primary);
}

/* ! list-item */
/* ! list-item */
/* ! list-item */

.list {
  /* display: inline-block; */
  list-style: none;
  font-size: 1.8rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}

.list__item {
  display: flex;
  align-items: center;
  color: #444242;
  margin: 1rem 0;
  /* background-color: #ffa589; */
}

.list--tick .list__item::before {
  content: "";
  width: 40px;
  height: 40px;
  background: url(/assets/images/Tick-Square.svg);
  background-repeat: no-repeat;
  background-position: right;
}

/* ! block-plan */
/* ! block-plan */
/* ! block-plan */

.block-plan-main {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.block-plan {
  display: grid;
  align-items: baseline;
  /* gap: 9rem;
  margin: 0rem 2rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
  grid-template-columns: repeat(1, 1fr);
}

.plan {
  justify-self: center;
}

.plan.plan--primary .card {
  transform: scale(1.1);
}

.plan.plan--primary {
  margin: 8rem 0;
}

.plan.plan--primary .card__head {
  background-color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .block-plan {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .block-plan {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  width: 311px;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 20px 10px hsla(0, 25%, 90%, 0.697);
}

.card__head {
  padding: 14px 20px;
  background-color: var(--color-secondry-light);
  color: var(--color-white);
  display: grid;
  gap: 2rem;
  font-size: 1.6rem;
}

.discount {
  display: flex;
  align-items: baseline;
}

.discount > div {
  font-size: 3rem;
  font-weight: 700;
  margin-left: 0.5rem;
}

.discount span {
  font-size: 1.1rem;
}

.card__body {
  padding: 10px 20px;
  background-color: #fff1eb;
  text-align: center;
  display: grid;
  gap: 3rem;
}

.card__body .list__item {
  font-size: 1.5rem;
}

/* ! feature */
/* ! feature */
/* ! feature */

.feature-section {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.feature {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 5rem;
  /* padding: 30px; */
}

.feature__title {
  display: grid;
  row-gap: 2rem;
}

.feature__title h3 {
  font-weight: 700;
  /* margin-bottom: 20px; */
}

.feature__title p {
  color: #333;
  line-height: 32px;
  text-align: justify;
}

.feature__title .title__link {
  display: flex;
  align-items: center;
  color: var(--color-primary);
}

.feature__title .title__link i {
  font-size: 24px;
  line-height: 0;
}

.feature__image {
  max-width: 550px;
  justify-self: center;
}

.feature__image img {
  width: 100%;
  padding-right: 50px;
}

.feature__image img {
  width: 100%;
  padding-right: 50px;
}

@media screen and (min-width: 768px) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
  }

  .feature__image {
    max-width: 550px;
    order: 2;
    justify-self: left;
  }

  .feature__title {
    order: 1;
  }

  .feature-reverse .feature__image {
    order: 1;
    justify-self: right;
  }

  .feature-reverse .feature__image img {
    padding-right: 0px;
    padding-left: 50px;
  }

  .feature-reverse .feature__title {
    order: 2;
  }
}

/* ? need */
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}
/* ? need */

/* ! contact-us */
/* ! contact-us */
/* ! contact-us */

.menu-link {
  display: grid;
  gap: 50px;
  margin-bottom: 5rem;
}

.contact-us {
  margin-top: 10rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.contact__heading {
  text-align: center;
  margin-bottom: 5rem;
}

.contact__image img {
  max-width: 100%;
}

.contact__image .google-map {
  max-width: 100%;
}

.contact__image .google-map iframe {
  width: 100%;
}

.contact__heading h2 {
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.contact__heading p {
  /* margin-bottom: 1.5rem; */
  color: #374754;
}

.contact__link {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 5.5rem; */
}

.contact__link i {
  font-size: 40px;
  color: var(--color-primary);
}

.contact__link span:nth-child(2) {
  margin: 0 2.5rem;
}

.contact__social {
  text-align: left;
}

.contact__social .link--item {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 1.5rem;
}

.contact__social .link--item i {
  font-size: 30px;
  color: var(--color-primary);
  /* margin-right: rem; */
}

.contact__social .link--item div {
  font-size: 16px;
  color: #374754;
  margin-left: 2.5rem;
}

.back-icon {
  width: 64px;
  height: 64px;
  /* display: block; */
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.contact-form {
  border: 1px solid #dddddd;
  padding: 52px 49px 52px 49px;
  box-shadow: 0px 13px 19px 0px #00000012;
  border-radius: 15px;
  text-align: center;
  display: grid;
  gap: 45px;
}

.contact-form input {
  padding: 19px 20px 19px 20px;
  border-radius: 39px;
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5;
  text-align: left;
}

.contact-form textarea {
  padding: 23px 20px 23px 20px;
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5;
  text-align: left;
  resize: vertical;
}

.contact-form button {
  padding: 10px 35px;
  border-radius: 35px;
  background-color: var(--color-primary);
  border: none;
  outline: none;
  color: var(--color-white);
  width: auto;
  font-size: 20px;
  justify-self: left;
}

@media screen and (min-width: 768px) {
  .contact__link {
    order: 3;
    text-align: left;
  }

  .contact__image {
    order: 2;
  }

  .contact__social {
    order: 1;
  }
}

@media screen and (min-width: 1024px) {
  .contact__social {
    display: flex;
    justify-content: space-between;
  }

  .contact__social .link--item {
    flex-direction: column-reverse;
    max-width: 150px;
    margin-bottom: 0;
  }

  .contact__social .link--item div {
    margin-top: 2rem;
  }

  .contact__social .link--item:nth-child(1) div {
    text-align: center;
    line-height: 2rem;
  }
}

/* @media screen and (max-width: 992px) and (min-width: 768px) {
} */

/* ! footer */
/* ! footer */
/* ! footer */

a {
  text-decoration: none;
}

.footer {
  color: var(--color-white);
  background-color: #000000;
  padding: 30px 0px;
  margin-top: 3rem;
}

.footer a {
  color: var(--color-white);
}

.footer__header {
  margin-bottom: 5rem;
}

.footer__header img {
  margin-bottom: 1rem;
  width: 150px;
}

.footer__row {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(1, 1fr);
}

.footer-col {
  display: flex;
  flex-direction: column;
}

.footer-col h2 {
  font-weight: 700;
  margin-bottom: 2rem;
}

.footer .link {
  margin-bottom: 1.6rem;
  transition: color 0.1s;
}

.footer .link:hover {
  color: var(--color-primary);
}

.footer-col.footer-image {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.footer-col.footer-image img {
  max-width: 100%;
}

.footer-col.footer-image .back-white {
  width: 150px;
  height: 150px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.footer-col .social-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-col .social-link i {
  font-size: 3rem;
  color: #acacac;
  transition: color 0.1s;
  cursor: pointer;
}

.footer-col .social-link i:hover {
  color: var(--color-primary);
}

.physical {
  color: #acacac;
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 4% 10%;
    position: relative;
  }

  .footer__row {
    /* display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between; */
    margin-bottom: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .footer-col.footer-image .back-white:nth-child(1) {
    margin-left: 2rem;
  }

  .footer-col:nth-child(6) {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* ! navbar */
/* ! navbar */
/* ! navbar */

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  /* padding: 0 10%; */
  z-index: 1000;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.humberg {
  display: none;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link .link-item a {
  margin-left: 2.5rem;
  color: #545454;
  font-size: 15px;
  transition: color 0.1s;
}

.nav-link .link-item a:hover {
  color: var(--color-primary);
}

.nav-link .link-app {
  display: none;
}

@media screen and (min-width: 992px) {
  .nav-link .link-app {
    display: block;
  }

  .nav-link .link-app .btn {
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: 992px) {
  .nav-link .link-item a:nth-child(6) {
    margin-left: 0;
  }
}

@media screen and (max-width: 786px) {
  .nav-link {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%;
    height: max-content;
    background-color: #fff;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    transform: translateY(-120%);
    transition: all 0.4s;
    z-index: -1;
  }

  .nav-link.nav-show {
    transform: translateY(0) !important;
  }

  .nav-link .link-item a {
    color: #545454;
    font-size: 15px;
    line-height: 30px;
    display: block;
    margin-bottom: 1.7rem;
    transition: color 0.1s;
  }

  .nav-link .link-item a:hover {
    color: var(--color-primary);
  }

  .humberg {
    display: block;
  }
}

.humberg .line {
  width: 25px;
  height: 3px;
  background-color: #000000;
  transition: all 0.4s ease-out;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

.humberg .line:nth-child(2) {
  margin: 5px 0;
}

.humberg.close-icon .line:nth-child(1) {
  transform: rotate(45deg);
}

.humberg.close-icon .line:nth-child(2) {
  display: none;
}

.humberg.close-icon .line:nth-child(3) {
  top: -3px;
  transform: rotate(-45deg);
}

/* ! hero-icon */
/* ! hero-icon */
/* ! hero-icon */

.hero {
  position: relative;
  top: 60px;
  left: 0;
}

.hero__picture img {
  height: 480px;
  width: 100%;
  object-fit: cover;
}

.hero__warper {
  width: 270px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-warper {
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );

  z-index: 56;
  width: 100%;
  height: auto;
  border-radius: 20px;
  padding: 16px;
}

.warper-btn {
  display: grid;
}

.warper-btn .btn {
  height: 52px;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

.warper-btn .btn i {
  font-size: 2.5rem;
  margin-left: 2rem;
}

.warper-btn .btn.warper-driver {
  background-color: rgba(23, 26, 60, 0.5) !important;
  border: 2px solid #fff;
  color: #fff !important;
}

.warper-content h1 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
}

.warper-content p {
  margin-bottom: 30px;
  color: #fff;
}

@media screen and (min-width: 786px) {
  .hero__picture img {
    height: calc(100vh - 61px - 22%);
  }

  .main-warper {
    padding: 25px;
  }

  .hero__warper {
    width: 528px;
    height: 380px;
    position: absolute;
    left: 60%;
  }

  .warper-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .warper-btn .btn {
    width: 220px;
  }

  .warper-btn .btn i {
    font-size: 2.5rem;
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .warper-btn .btn {
    width: 235px;
    padding: 0 10px;
  }

  .warper-btn .btn i {
    font-size: 2.5rem;
    margin-left: 0.8rem;
  }

  .hero__warper {
    left: 70%;
  }
}

@media screen and (min-width: 786px) and (max-width: 1170px) {
  .hero__picture img {
    height: 400px;
  }
}

/* ! services */
/* ! services */
/* ! services */

.services {
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.services h2 {
  font-weight: 700;
  margin-bottom: 2rem;
}

.services__tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.services__tabs .tab img {
  width: 80px;
  opacity: 0.35;
}

.services__tabs .tab img {
  width: 80px;
  opacity: 0.35;
  transition: all 0.3s ease-out;
}

.services__tabs .tab img:hover {
  opacity: 1;
}

.services__tabs .tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.services__tabs .tab p {
  display: block;
  max-width: 100%;
  margin-top: 13px;
  font-size: 1.2rem;
}

.services__content {
  margin-top: 5rem;
}

/* .services__content .feature__image {
  display: none;
} */

.services__content .feature__title {
  align-self: flex-start;
}

@media screen and (min-width: 786px) {
  .services__tabs .tab img {
    width: 100px;
  }

  .services__tabs .tab p {
    font-size: 1.6rem;
  }

  .services__content .feature__image {
    display: block;
  }

  .services__content {
    margin-top: 8rem;
  }
}

.active {
  display: inline-grid !important;
}

hr {
  height: 1px;
  background-color: #ddd;
  border: none;
}

/* ! parallx */
/* ! parallx */
/* ! parallx */

.parallx {
  background-image: url("../assets/images/parallax.jpeg");
  background-size: cover;
  background-attachment: fixed !important;
}

.parallx .content-wrapper {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parallx .content-wrapper > div {
  margin: 10px 0;
}

.parallx .content-wrapper .title {
  padding: 10px 0;
  font-weight: 700;
  display: block;
  color: #fff;
  font-size: 16px;
}

@media screen and (min-width: 786px) {
  .parallx {
    height: 200px;
  }

  .parallx .container {
    height: 100%;
  }

  .parallx .content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }

  .parallx .content-wrapper .title {
    height: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
  }

  .parallx .content-wrapper > div {
    max-width: 150px;
  }
}

@media screen and (min-width: 992px) {
  .parallx .content-wrapper > div {
    max-width: max-content;
  }
}
