<div class="container">
  <div class="block-plan">
    <div class="plan">
      <div class="card">
        <div class="card__head">
          <div class="d-flex align-center justify-between">
            <span>عادی</span>
            <div class="badge badge--secondry">10% OFF</div>
          </div>

          <div class="discount">
            <div>290,000</div>
            <span>ماهانه / تومان</span>
          </div>

          <div>سرویس ماشین های معمولی</div>
        </div>

        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">کیفیت عالی</li>
            <li class="list__item">کم سروصدا</li>
            <li class="list__item">زمان محدود</li>
            <li class="list__item">سرویس روزانه</li>
          </ul>

          <button class="btn btn--secondry btn--block">ثبت سفارش</button>
        </div>
      </div>
    </div>

    <div class="plan plan--primary">
      <div class="card">
        <div class="card__head">
          <div class="d-flex align-center justify-between">
            <span>عادی</span>
            <div class="badge badge--primary">15% OFF</div>
          </div>

          <div class="discount">
            <div>290,000</div>
            <span>ماهانه / تومان</span>
          </div>

          <div>سرویس ماشین های معمولی</div>
        </div>

        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">کیفیت عالی</li>
            <li class="list__item">کم سروصدا</li>
            <li class="list__item">زمان محدود</li>
            <li class="list__item">سرویس روزانه</li>
          </ul>

          <button class="btn btn--primary btn--block">ثبت سفارش</button>
        </div>
      </div>
    </div>

    <div class="plan">
      <div class="card">
        <div class="card__head">
          <div class="d-flex align-center justify-between">
            <span>عادی</span>
            <div class="badge badge--secondry">10% OFF</div>
          </div>

          <div class="discount">
            <div>290,000</div>
            <span>ماهانه / تومان</span>
          </div>

          <div>سرویس ماشین های معمولی</div>
        </div>

        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">کیفیت عالی</li>
            <li class="list__item">کم سروصدا</li>
            <li class="list__item">زمان محدود</li>
            <li class="list__item">سرویس روزانه</li>
          </ul>

          <button class="btn btn--secondry btn--block">ثبت سفارش</button>
        </div>
      </div>
    </div>
  </div>
</div>
