<section class="contact-us container">
  <div class="contact__heading">
    <h2>ارتباط با ما</h2>
    <p>شما می توانید نظرات و انتقادات خود را برای ما بفرستید</p>
  </div>

  <div class="row menu justify-content-between">
    <div class="col-12 menu-link col-md-6 col-lg-7">
      <div class="contact__link">
        <span class="back-icon">
          <i class="bx bxl-linkedin-square"></i>
        </span>
        <span class="back-icon">
          <i class="bx bxl-facebook-square"></i>
        </span>
        <span class="back-icon">
          <i class="bx bxl-twitter"></i>
        </span>
      </div>

      <div class="contact__image d-none d-md-block">
        <img src="/assets/images/map.png" alt="map" />
      </div>

      <div class="contact__social">
        <div class="link--item">
          <div>ایران - مشهد - امام خمینی 70 - پلاک 25</div>
          <span class="back-icon">
            <i class="bx bx-location-plus"></i>
          </span>
        </div>

        <div class="link--item">
          <div>+989155671610</div>
          <span class="back-icon">
            <i class="bx bx-mobile"></i>
          </span>
        </div>

        <div class="link--item">
          <div>erfansharafi60@gmail.com</div>
          <span class="back-icon">
            <i class="bx bx-envelope-open"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="col-12 menu-form col-md-5 col-lg-4">
      <div class="contact-form">
        <h3>نظرات شما</h3>
        <!-- <form action=""> -->
        <input type="text" placeholder="Your Name" />
        <input type="text" placeholder="Your Email" />

        <textarea name="" id="" rows="5" placeholder="Your Message"></textarea>

        <button type="submit">Send</button>
        <!-- </form> -->
      </div>
    </div>
  </div>
</section>
