<footer class="footer">
  <div class="footer__header">
    <img src="/assets/images/tapsi-logo-white.svg" alt="" />
    <p>اپلیکشن درخواست خودرو و پیک</p>
  </div>

  <div class="footer__row">
    <div class="footer-col">
      <h2>تپسی</h2>
      <a class="link" href="https://blog.tapsi.ir/">وبلاگ تپسی</a>
      <a class="link" href="https://careers.tapsi.ir/">فرصت شغلی</a>
      <a class="link" href="https://tapsi.ir/contact">تماس با ما</a>
      <a class="link" href="https://tapsi.ir/brand">لوگو و هویت سازمانی</a>
      <a class="link" href="https://tapsi.ir/affiliate">معرفی راننده به تپسی</a>
      <a class="link" href="https://tapsi.ir/field">استخدام بازاریاب</a>
    </div>
    <div class="footer-col">
      <h2>مسافران</h2>
      <a class="link" href="https://tapsi.ir/passengers/dl">دانلود اپ مسافر</a>
      <a class="link" href="https://app.tapsi.cab">نسخه وب تپسی</a>
      <a class="link" href="https://tapsi.ir/passengers/faq"
        >پرسش‌های متداول مسافران</a
      >
      <a class="link" href="https://tapsi.ir/terms/passengers"
        >شرایط و قوانین مسافران</a
      >
      <a class="link" href="https://tapsi.ir/spaceship/">باشگاه مشتریان</a>
    </div>
    <div class="footer-col">
      <h2>رانندگان</h2>
      <a class="link" href="https://tapsi.ir/drivers/dl">دانلود اپ سفیر</a>
      <a class="link" href="https://join.tapsi.cab/login"
        >ثبت نام راننده تاکسی اینترنتی</a
      >
      <a class="link" href="https://tapsi.ir/drivers/faq"
        >پرسش‌های متداول سفیران</a
      >
      <a class="link" href="https://tapsi.ir/terms/drivers"
        >شرایط و قوانین سفیران</a
      >
      <a class="link" href="https://tapsi.ir/pro"> باشگاه سفیران</a>
      <a class="link" href="https://campaigns.tapsi.ir/biker/join"
        >ثبت نام راننده موتور</a
      >
    </div>
    <div class="footer-col">
      <h2>کسب و کارها</h2>
      <a class="link" href="https://co.tapsi.ir/login">پنل سازمانی تپسی</a>
      <a class="link" href="https://vouchers.tapsi.ir/login"
        >خرید کد اعتبار و تخفیف</a
      >
      <a class="link" href="https://tapsi.ir/corporate">دریافت API</a>
    </div>
    <div class="footer-col footer-image">
      <span class="back-white">
        <img src="/assets/images/logo.png" alt="logo" />
      </span>

      <span class="back-white">
        <img src="/assets/images/enemad.png" alt="logo" />
      </span>
    </div>
    <div class="footer-col">
      <p class="physical">
        تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.
      </p>
    </div>
    <div class="footer-col">
      <div class="social-link">
        <i class="bx bxl-facebook"></i>
        <i class="bx bxl-instagram"></i>
        <i class="bx bxl-twitter"></i>
        <i class="bx bxl-linkedin"></i>
        <i class="bx bxl-telegram"></i>
      </div>
    </div>
  </div>
</footer>
