<section class="hero">
  <picture class="hero__picture">
    <source
      srcset="/assets/images/banner.jpg"
      type="image/jpg"
      media="(min-width: 768px)"
    />
    <source
      srcset="/assets/images/banner-mobile.jpg"
      type="image/jpg"
      media="(max-width: 768px)"
    />
    <img alt="banner" src="/assets/images/banner.jpg" class="banner-img" />
  </picture>

  <div class="hero__warper">
    <div class="main-warper">
      <div class="warper-content">
        <h1>تپسی</h1>
        <p>اپلیکشن درخواست و خودرو و پیک</p>
      </div>

      <div class="warper-btn">
        <button class="btn warper-pasenger">
          <i class="bx bx-down-arrow-alt"></i>
          <p>دانلود اپلیکشن مسافران</p>
        </button>
        <button class="btn warper-pasenger">
          <i class="bx bx-compass"></i>
          <p>وب اپلیکشن مسافران</p>
        </button>
        <button class="btn warper-driver">
          <i class="bx bx-car"></i>
          <p>ثبت نام راننده خودرو</p>
        </button>
        <button class="btn warper-driver">
          <i class="bx bx-hard-hat"></i>
          <p>ثبت نام راننده موتور</p>
        </button>
        <button class="btn warper-driver">
          <i class="bx bx-down-arrow-alt"></i>
          <p>دانلود اپلیکشن رانندگان</p>
        </button>
      </div>
    </div>
  </div>
</section>
