<nav class="navbar">
  <div class="main-nav">
    <a href="#">
      <img src="/assets/images/logo.svg" alt="logo" />
    </a>

    <div class="nav-link" id="nav-link">
      <div class="link-item">
        <a href="#">وبلاگ</a>
        <a href="#">فرصت های شغلی</a>
        <a href="#">تپسی پیک</a>
        <a href="#">امور سهام</a>
        <a href="#">پشتیبانی</a>
        <a href="#">ویدیوها</a>
      </div>

      <div class="link-app">
        <button class="btn btn--primary">دانلود تپسی</button>
      </div>
    </div>

    <div class="humberg" id="show-icon">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</nav>

<script src="js/app.js"></script>
